.button {
  border: none;
  background-color: #e7e7f3;
  display: flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.text {
  font-size: 16px;
  color: #331cbf;
  padding-right: 8px;
}

.text:hover {
  color: red;
}
