.container {
  display: flex;
  align-items: center;

  > * {
    margin-right: 2px;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 4px 12px;
    background-color: #999;
  }
}
