.li {
  padding: 2px;
  list-style: none;
  white-space: nowrap;
}

.button {
  border: none;
  background-color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #e7e7f3;
  }

  span {
    font-size: 14px;
    color: #331cbf;
  }
}
