.button {
  border: none;
  background-color: #f8f9fd;
  display: flex;
  align-items: center;

  span {
    font-size: 16px;
    color: #68688a;
  }

  &:hover {
    cursor: pointer;

    * {
      color: #563bff;
    }
  }

  &.isActive {
    span {
      color: #563bff;
    }
  }
}

.text {
  font-size: 16px;
  color: #68688a;
  padding-right: 12px;
}
