/* ---------------------------------------------------
// Reset
//------------------------------------------------- */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ---------------------------------------------------
// Demo
//------------------------------------------------- */

#root,
body,
html {
  height: 100%;
}

body {
  background-color: #f7f7fc;
}

body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic,
    'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Arial, メイリオ, Meiryo,
    sans-serif;
}

body,
input,
textarea {
  line-height: 1.5;
  color: #2b2c30;
  font-size: 16px;
}

.demo-nav {
  background-color: #331cbf;
}

.demo-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  border-bottom: 1px solid #4932d5;
  box-sizing: border-box;
}

.demo-nav-header .material-icons {
  color: #ffffff;
  font-size: 29px;
}

.demo-nav-content {
  padding: 20px 10px;
}

.demo-nav-content img {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 999em;
  box-sizing: border-box;
}

.demo-sidebar {
  background-color: #29169e;
  color: #ffffff;
}

.demo-sidebar-header {
  padding: 8px 8px 9px 10px;
  border-bottom: 1px solid #4932d5;
}

.demo-sidebar-header div:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-sidebar-header div:nth-child(2) {
  padding-top: 2px;
  color: #ccc;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-sidebar-content {
  padding: 20px 10px;
}

.demo-main-header {
  padding: 8px 8px 9px 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.demo-main-header div:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-main-header div:nth-child(2) {
  padding-top: 2px;
  color: #ccc;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-main-content {
  background-color: #ffffff;
}

.demo-main-content-legend {
  margin: 4px 0 12px;
  color: #2b2c30;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 999px) {
  .demo-nav {
    display: none;
  }
  .demo-sidebar-content {
    display: none;
  }
  .demo-main-content {
    padding: 16px 16px 32px;
  }
}

@media (min-width: 1000px) {
  .demo-layout {
    padding-left: 261px;
  }
  .demo-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
  }
  .demo-sidebar {
    position: fixed;
    top: 0;
    left: 60px;
    width: 200px;
    height: 100%;
    border-left: 1px solid #4932d5;
  }
  .demo-sidebar-header {
    height: 51px;
    box-sizing: border-box;
  }
  .demo-main-header {
    position: sticky;
    top: 0;
    height: 51px;
    box-sizing: border-box;
    z-index: 5;
  }
  .demo-main-contents {
    padding: 20px 40px 40px;
  }
  .demo-main-content {
    padding: 20px 40px 60px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
  }
}
